.dropdown-toggle::after {
  display:none !important;
}
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    /* margin: 0 auto; */
    max-width: 320px;
  }
}

.containerBI{
  background-image: url(./images/mp.png);
}
.dropdown-menu{
  left: -50px !important;
}

.myLink{
  text-decoration: none;
  color: black;
}