body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar{
  display: none;
}

.sidebar-container {
  width: 200px;
  background-color: gray;
}

.sidebar {
  width: 200px;
  height: 900px;
  padding-top:25px;
}

.sidebar-link {
  padding: 10px;
}

.sidebar-link:hover {
  cursor: pointer;
  border-right: 5px solid dimgray;
  background-color: gainsboro;
}